@{title('Edit Product')}


<div id='editProduct'>
	<h1>Edit Product</h1>

	<form action="/products/@{model.p_data.id}/edit" method='POST' enctype="multipart/form-data">
	<table>
		<tr style="margin-bottom: 10px">
			<td><label for="name">product name: </label></td>
			<td><input name='name' type="text" value='@{model.p_data.name}' placeholder="product name"></td>			
		</tr>
		<!-- <tr>
			<td><label for="producer">producer: </label></td>
			<td>
				<select name="producer" id="">
					<option value="1">--</option>
					@{foreach p in model.c_data}
						@{if p.id = model.p_data.producer_id}
							<option value="@{p.id}" selected="true">@{p.name}</option>
						@{else}
							<option value="@{p.id}">@{p.name}</option>
						@{fi}
					@{end}
				</select>
			</td> -->
		</tr>
		<tr>
			<td><label for="price">price: $</label></td>
			<td><input name='price' type="text" value='@{model.p_data.price}'></td>
		</tr>
		<tr>
			<td><label for="description">product description: </label></td>
			<td>
				<textarea name='description' type="textArea" cols="40" rows="5" placeholder="product descrription">@{model.p_data.description}</textarea>
			</td>
		</tr>
		<tr>
			<td><label for="img_url">Img Url:</label></td>
			<td><input class='btn' name='img_url' value='@{model.img_url}' type="file" accept="file_extension|audio/*|video/*|image/*|media_type" multiple></td>		
		</tr>
		<tr>
			<td><label for="link">External Link:</label></td>
			<td>
				<input type="text" name='external_link' value='@{model.p_data.external_link}' placeholder="link">
			</td>
		</tr>
		<tr>
			<td><label for="notes">Notes: </label></td>
			<td><textarea cols="40" rows="5" name="notes">@{model.p_data.notes}</textarea></td>
		</tr>
	</table>
	<br>

		<input class='btn' type="submit" value="Submit Changes">

	</form>
</div>