@{title('Products')}
@{head('/j/products.js')}


<div id='products'>
	<h1>Products</h1>

	<form id='postProductForm' action='#' enctype="multipart/form-data">
		
	<h3 class="errorMsg"></h3>

	<table>
		<tr style="margin-bottom: 10px">
			<td><label for="product_name">product name: </label></td>
			<td><input name='name' type="text" placeholder="product name"></td>			
		</tr>
		<tr>
			<td><label for="producer">producer: </label></td>
			<td>
				<select name="producer" id="">
					<option value="0">--</option>
					@{foreach p in model.c_data}
						<option value="@{p.id}">@{p.name}</option>
					@{end}
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="price">price: $</label></td>
			<td><input name='price' type="text"></td>
		</tr>
		<tr>
			<td><label>tags:</label></td>
			<td id='productTags'>
				<fieldset>				
					<label for="wood">wood:</label>
					<input name='tags' type="checkbox" value='1'>

					<label for="silver">silver:</label>
					<input name='tags' type="checkbox" value='2'>
					
					<label for="ceramics">ceramics:</label>
					<input name='tags' type="checkbox" value='3'>

					<label for="painting">painting:</label>
					<input name='tags' type="checkbox" value='4'>

					<label for="accessory">accessory:</label>
					<input name='tags' type="checkbox" value='5'>

					<label for="technology">technology:</label>
					<input name='tags' type="checkbox" value='6'>

					<label for="hand-made">hand-made:</label>
					<input name='tags' type="checkbox" value='7'>

					<label for="clothing">clothing:</label>
					<input name='tags' type="checkbox" value='8'>

					<label for="posters">posters:</label>
					<input name='tags' type="checkbox" value='9'>

				</fieldset>
			</td>
		</tr>
		<tr>
			<td><label for="descrription">product descrription: </label></td>
			<td>
				<textarea name='description' type="textArea" cols="40" rows="5" placeholder="product descrription"></textarea>
			</td>
		</tr>
		<tr>
			<td><label for="link">Img Url:</label></td>
			<td><input class='btn' name='img_url' type="file" accept="file_extension|audio/*|video/*|image/*|media_type" multiple></td>
		</tr>
		<tr>
			<td><label for="link">External Link:</label></td>
			<td>
				<input type="text" name='external_link' placeholder="link">
			</td>
		</tr>
		<tr>
			<td><label for="notes">Notes: </label></td>
			<td><textarea cols="40" rows="5" name="notes"></textarea></td>
		</tr>
	</table>
	<br>
		<input type="submit" value='input submit'>
	</form>

	<hr>

	<h2>Product List</h2>	

	<div class="row">
		<div class='col-xs-10'>
			<div class="col-xs-3">ID</div>
			<div class="col-xs-3">Name</div>
			<div class="col-xs-3">Producer</div>
			<div class="col-xs-3">Price</div>
		</div>
	</div>

	<hr>

	<div id="productList">
		@{foreach p in model.p_data}
			<div class="row">
				<a href="/products/@{p.id}" class='col-xs-10'>	
					<div class="col-xs-3 productID">
						<h5>@{p.id}</h5>
					</div>
					<div class="col-xs-3 productName">
						<h5>@{p.name}</h5>
					</div>	
					<div class="col-xs-3 productProducer">
						<h5>@{p.producer_id}</h5>
					</div>	
					<div class="col-xs-3 productPrice">
						<h5>@{p.price}</h5>
					</div>	
				</a>

				<div class="col-xs-2">
					<form action="/products/@{p.id}/edit" method='get'>
						<button class="btn btn-info col-xs-6" style='text-align: center'>Edit</button>
					</form>
					<form action="/products/@{p.id}/delete" method='post'>
						<button class="btn btn-danger col-xs-5 col-xs-offset-1">X</button>
					</form>
				</div>
			</div>
		@{end}
	</div>
</div>