@{title('Producers')}
@{head('/j/producers.js')}


<div id='Producers'>
	<h1>Producers</h1>
	

	<div class='row'>
		<div class="col-xs-7 col-xs-offset-1">
			<form action="/producers" method='POST' enctype="multipart/form-data">
				
				<table>
					<tr>
						<td><label for="name">name: </label></td>
						<td><input name='name' type="text" placeholder="name"></td>			
					</tr>
					<tr>
						<td><label for="name">company: </label></td>
						<td><input name='company' type="text" placeholder="company name"></td>			
					</tr>
					<tr>
						<td><label for="img_url">choose img: </label></td>
						<td><input class='btn' name='img_url' type="file" accept="file_extension|audio/*|video/*|image/*|media_type" multiple></td>			
					</tr>
					<tr>
						<td><label for="bio">bio: </label></td>
						<td><textarea name="bio" cols="40" rows="10"></textarea></td>			
					</tr>
					<tr>
						<td><label for="name">goal: </label></td>
						<td><input name='goal' type="text" placeholder="goal"></td>			
					</tr>
					<tr>
						<td><label for="f_artists">favorite artists: </label></td>
						<td><input name='f_artists' type="text" placeholder="favorite artists"></td>			
					</tr>
					<tr>
						<td><label for="name">zodiac: </label></td>
						<td><input name='zodiac' type="text" placeholder="zodiac"></td>			
					</tr>
					<tr>
						<td><label for="f_color">favorite color: </label></td>
						<td><input name='f_color' type="text" placeholder="favorite color"></td>			
					</tr>
					<tr>
						<td><label for="f_movie">favorite movie: </label></td>
						<td><input name='f_movie' type="text" placeholder="favorite movie"></td>			
					</tr>
					<tr>
						<td><label for="f_book">favorite book: </label></td>
						<td><input name='f_book' type="text" placeholder="favorite book"></td>			
					</tr>
					<tr>
						<td><label for="f_season">favorite season: </label></td>
						<td><input name='f_season' type="text" placeholder="favorite season"></td>			
					</tr>
					<tr>
						<td><label for="f_music">favorite music: </label></td>
						<td><input name='f_music' type="text" placeholder="favorite music"></td>			
					</tr>
				</table>

				<br>

				<input class='btn' type="submit" value="Add Producer">

			</form>
		</div>
		<div class="col-xs-4">
			<img id='bioImg' src="" alt="producer image">
		</div>
		
	</div>



	<hr>

	<h2>Producer List</h2>	

	<div id="producerList">
		
		<div class="row">
			<div class='col-xs-10'>
				<h3 class="col-xs-5">ID</h3>
				<h3 class="col-xs-5">Name</h3>
			</div>
		</div>

		<hr>
	
		@{foreach m in model}
			<div class="row">
				<a href="/producers/@{m.id}" class='col-xs-10'>
					<div class="col-xs-5" id="producerID">
						<h5>@{m.id}</h5>
					</div>
					<div class="col-xs-5" id="producerName">
						<h5>@{m.name}</h5>
					</div>	
				</a>
				<div class="col-xs-2">
					<form action="/producers/@{m.id}/edit" method='get'>
						<button class="btn btn-info col-xs-6">Edit</button>
					</form>
					<form action="/producers/@{m.id}/delete" method='post'>
						<button class="btn btn-danger col-xs-5 col-xs-offset-1">X</button>
					</form>
				</div>
			</div>
		@{end}

	</div>
</div>